@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

html,
body {
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
}

.disTordApp {
    font-family: 'Raleway', sans-serif;
    display: grid;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    /*transition: all 0.2s;*/
    -webkit-animation-name: shakeApp;
    animation-name: shakeApp;
    -webkit-animation-duration: .05s;
    animation-duration: .05s;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    color: cornsilk;
    background-color: #3c3c3c;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes shakeApp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.995);
    }
}

@keyframes shakeApp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.995);
    }
}

/* Si écran <800px */
@media (max-width: 799px) {
    .disTordApp {
        grid-template-columns: [commus-start pubs-start chansList-start voiceControler-start commuTitle-start chanContent-start inputZone-start chanMembers-start mobileLink-start] 1fr [mobileLink-end chanTitle-start] 1fr [commus-end commuTitle-end chansList-end voiceControler-end chanContent-end inputZone-end pubs-end chanTitle-end chanMembers-end];
        grid-template-rows: [pubs-start] 3rem [pubs-end chanTitle-start mobileLink-start] 3rem [chanTitle-end mobileLink-end commus-start commuTitle-start chansList-start chanContent-start chanMembers-start] auto [commus-end commuTitle-end chansList-end chanContent-end chanMembers-end inputZone-start] 3rem [inputZone-end voiceControler-start] 3rem [voiceControler-end];
    }

    .mobileLink {
        display: flex;
        grid-area: mobileLink;
        flex-flow: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: stretch;
    }

    .mobileLink div {
        margin: 5px;
        border-radius: 20%;
        background-color: darkgoldenrod;
    }

    .mobileLink span {
        color: blue;
        -webkit-text-decoration-line: none;
        -moz-text-decoration-line: none;
        text-decoration-line: none;
    }

    .commus {
        display: none;
        visibility: hidden;
    }

    .commuTitle {
        display: none;
        visibility: hidden;
    }

    .chansList {
        display: none;
        visibility: hidden;
    }

    .chanMembers {
        display: none;
        visibility: hidden;
    }
}

/* Si écran >=800px */
@media (min-width: 800px) {
    .disTordApp {
        grid-template-columns: [commus-start] 5rem [commus-end pubs-start commuTitle-start chansList-start voiceControler-start] 14rem [commuTitle-end chansList-end voiceControler-end chanTitle-start chanContent-start inputZone-start] auto [chanContent-end inputZone-end chanMembers-start] 13rem [pubs-end chanTitle-end chanMembers-end];
        grid-template-rows: [commus-start pubs-start] 2rem [pubs-end commuTitle-start chanTitle-start] 2rem [commuTitle-end chanTitle-end chansList-start chanContent-start chanMembers-start] auto [chansList-end chanContent-end voiceControler-start inputZone-start] 3rem [commus-end voiceControler-end inputZone-end chanMembers-end];
    }

    .mobileLink {
        display: none;
        visibility: hidden;
    }
}

.commus {
    display: flex;
    overflow: auto;
    max-height: calc(100vh);
    background-color: #202225;
    grid-area: commus;
    flex-flow: column;
    flex-wrap: nowrap;
}

.commuItem {
    flex: 0;
}

.pubs {
    display: flex;
    grid-area: pubs;
    justify-content: space-around;
    align-items: center;
}

.commuTitle {
    display: flex;
    margin: auto;
    grid-area: commuTitle;
}

.chansList {
    display: flex;
    overflow: auto;
    max-height: calc(100vh - 7rem);
    grid-area: chansList;
    flex-flow: column;
    flex-wrap: nowrap;
}

.chanItem {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.chanItem:before {
    content: '> ';
}

.voiceControler {
    padding: 5px;
    grid-area: voiceControler;
}

.chanTitle {
    display: flex;
    margin: auto 10px;
    grid-area: chanTitle;
}

.chanContent {
    overflow: auto;
    max-height: calc(100vh - 7rem);
    grid-area: chanContent;
}

.chatItem {
    margin: 10px;
    padding: 5px 5px 5px 30px;
}

.chatSeparator {
    border-top: 1px solid rgba(80, 80, 80, .4);
    /*border-bottom: 1px solid ;*/
}

.inputZone {
    grid-area: inputZone;
}

.inputZone #inputZone1 {
    box-sizing: border-box;
    width: calc(100% - 1rem);
    height: 2rem;
    margin: .5rem;
    padding: .5rem;
    color: azure;
    border: none;
    border-radius: .5rem;
    background: rgba(120, 120, 120, .4);
}

.chanMembers {
    display: flex;
    overflow: auto;
    max-height: calc(100vh - 5rem);
    padding: 5px;
    grid-area: chanMembers;
    flex-flow: column;
    flex-wrap: nowrap;
}

.chanMemberItem {
    display: flex;
    flex-direction: row;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    vertical-align: middle;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.chanMemberItem img {
    /* flex:0;
         object-fit: cover; */
}

.chanMemberItem div {
    margin-left: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
    background: #282828;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #0a0a0a;
}
