.animated {
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    /* ANIME.CSS OVERRIDE TO ALLOW CUSTUM TRANSFORM */
}

body {
    display: flex;
    display: flex;
    background-color: #2578c0;
    flex-flow: column;
    flex-wrap: nowrap;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    display: flex;
    background-color: #2578c0;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
}

a {
    font-size: 2rem;
    padding: 15px;
    color: azure;
    -webkit-text-decoration-line: none;
    -moz-text-decoration-line: none;
    text-decoration-line: none;
}

a::before {
    content: '[';
}

a::after {
    content: ']';
}

a:hover {
    transition: all .5s ease;
    transform: scale(1.2);
    color: black;
}
