/*$rgba-primary-1: rgba(255, 170, 170, 1);
$rgba-primary-2: rgba(212, 106, 106, 1);
$rgba-primary-3: rgba(128, 21, 21, 1);
$rgba-primary-4: rgba( 85, 0, 0, 1);*/
/*
    Multi line comment, render in the CSS file
    Library version : 0.0.1   
*/
h2 {
    font-size: 10rem;
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    -webkit-animation-name: shakeApp;
    animation-name: shakeApp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    color: #d27777;
    background-color: #ebc4c4;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes shakeApp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.99);
    }
}

@keyframes shakeApp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.99);
    }
}

html p,
body p {
    color: rgba(55, 19, 19, .5);
}

p {
    /* NESTED PROPERTIES*/
    font-size: 5rem;
    font-weight: bold;
}
