html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.coverImage {
    display: flex;
    width: 100%;
    height: 90vh;
}

.coverImage img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    min-height: 3rem;
    background-color: darkblue;
}

section {
    width: 100%;
}
